/* Info Buttons */
.popup .info-buttons{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
}

.popup .info-buttons .top-row{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 0.5rem;
}
.popup .info-buttons .bottom-row{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  border-top: 0.5px solid rgb(69, 69, 69);
  margin-bottom: 1rem;
}

.popup .info-buttons .bottom-row div{
  display: flex;
  flex-direction: row;
  align-content: center;
}

.popup .info-buttons .bottom-row p{
  margin: auto 1rem auto auto;
}

.popup .info-buttons div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.popup .info-buttons span{
  margin: 0;
  color: grey;
  margin-top: 0.5rem;
}

.popup .info-buttons svg{
  margin: auto;
}

@media (min-width: 500px) {
  .popup .info-buttons{
    display: none;
  }
}

.info-buttons .download svg {
  padding: 0.5rem;
  background-color: rgb(51, 51, 51);
  border-radius: 50%;
}

.info-buttons .share svg {
  padding: 0.3rem;
  background-color: rgb(51, 51, 51);
  border-radius: 50%;
  height: 2.3rem;
  width: auto;
  box-sizing: border-box;
}