body {
  margin: 0 0 6rem 0;
  font-family:"Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
  font-size: 12px;
  height: fit-content;
}

@media (min-width: 500px) {
  body {
    background-color: rgb(17, 17, 17);
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-bar {
  width: 100vw;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.495);
  z-index: 10;
  position: fixed;
  display: flex;
  align-content: center;
  justify-content: space-around;
}

.match-text {
  color: #71cf75;
  font-weight: 700;
}

.rating {
  border: 0.5px solid white;
}